.register-container {
    background-image: url(../../assets/fondo.png);
    min-height: 100vh;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
}

.footer-bntInit-text{
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.footer-btn {
    display: flex;
    margin-top: 67px;
    align-items: center;
    width: 80%;
    max-width: 450px;
}

.btn-init {
    background: none;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    border: none;
    color: white;
    font-size: 1.4rem;
}

/* Bajo 448px el boton de navegación esta en dos lineas */
@media (max-width: 449px) {
    .footer-btn {
        display: flex;
        flex-direction: column;
    }
}

/* Cambia fondo desde 927px en adelante */
@media (min-width: 926px) {

    .register-container {
        background-image: url(../../assets/desktop.png);
    }
}