
.create-container {
    background-color: #FBFBFB;
    width: 80%;
    max-width: 450px;
    padding: 35px 20px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.btn-save{
    background-color: #26CD91;
    height: 45px;
    width: 100%;
    border-radius: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.25);
}

@media (min-width: 926px) {

    .create-container {
        padding: 35px 60px 45px;
    }
}
