.card-notes {
    width: 80%;
    max-width: 537px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card-notes-container {
    font-size: 25px;
    margin-bottom: 20px;
    display: grid;
    row-gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.25);
}

.card-notes-container:hover {
    color: orange;
}

.container-btns {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
    gap: 2px;
}

.btn-edit {
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    width: 15%;
    border-radius: 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-delete {
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    width: 12%;
    border-radius: 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-notes-title {
    font-weight: bold;
}

.card-notes-text {
    font-size: 1.35rem;
}
/* Cambia desde 498px en adelante */
@media (min-width: 498px) {
    .card-notes {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }
    .btn-edit {
        width: 40px;
    }

    .btn-delete {
        width: 60px;
    }


}