.logout-container{
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    gap: 6px;
    margin: 9px 0 -51px 0
}

.logout-img {
    width: 31px;
    margin-right: 20px;
}

.logout-text{
    color: #fff;
    font-size: 1.2rem;
    margin: 0px 0px 0px -8px;
}